@font-face {
  font-family: 'Karelia';
  src: url('https://cdn.lost.show/fonts/Karelia-Outtakes.woff2') format('woff2'),
      url('https://cdn.lost.show/fonts/Karelia-Outtakes.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Karelia;
  color: white;
  background: black;
}

canvas,
canvas:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

main {
  text-align: center;
  padding-bottom: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

h1 {
  font-weight: normal;
  opacity: 0;
  transition: opacity 6s cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

h1.entered {
  opacity: 1;
}
